*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: auto;
  background-image: url('bg.jpg');
  background-size: cover;
}

/* ****navbar**** */


.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin-top: -70px;
  position: fixed;
  background-color: #fff;
  height: 80px;
}

.nav .logo h1{
  font-weight: 590px;
  font-family: Sans-Serif;
  color: black;
  margin-top: 38px;
  margin-left: 30px;
}

.nav .logo b{
  color: orange;
  }
  
.nav ul{
  display: flex;
  list-style: none;
  
}
  
.nav ul li{
  margin-right: 30px;
}

.nav ul li a{
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-family: Sans-Serif;
  font-size: 17px;
  font-weight: bold;
  }
  
  /* Input */
  
input{
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
}

.Signin{
 background: none;
 border: none;
}

.Signup{
  background-color: orange;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-right: 30px;
}

/* input serc */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.search {
  display: flex;
}

.search .search-box {
  margin-top: 90px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 500px;
}

.search-bottom {
  margin-top: 90px;
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-bottom:hover {
  background-color: #dd8315;
}





/* home*/
.content {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 30px;
  margin-top: 120px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 150px;
}
/* #content text */
/* content-left */

.content .content-left{
  display: block;
  width: 100%;
  margin-top: -200px;
  margin-left: 30px;
}

.content .content-left .info{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.content .content-left .info h2{
  font-size: 60px;
  font-family: sans-serif;
  margin-bottom: 30px;
}

.content .content-left .info p{
  font-size: 23px;
  line-height: 2pc;
  margin-bottom: 30px;
  font-family: sans-serif;
}

/* button */

.content .content-left button{
  padding: 10px 23px;
  background-color: #ff511c;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 50px;
}

.content .content-left button a{
  font-size: 15px;
  color: white;
  text-decoration: none;
}


/* content img */

.content .content-righ{
  margin-top: -150px;
  display: block;
  width: 100%;
  padding-right: 50px;
}

.content .content-righ img{
  width: 430px;
  height: auto;
  position: relative;
  margin-right: 30px;
}


/* menu */

.menu{
  width: 100%;
  padding: 70px 0;
  
}

.menu h1{
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 39px;
  font-family: sans-serif;
  margin-top: -50px;
}

.menu h1 span{
  color: orange;
  margin-left: 15px;
  font-family: Sans-Serif;
}

.menu h1 span::after{
  content: '';
  width: 100%;
  height: 2px;
  background: orange;
  display: block;
  bottom: 15pc;
}


.menu .menu_box{
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-content: center;
  padding-left: 20px;
}

.menu .menu_box .menu_card{
  width: 325px;
  height: 480px;
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 5px black;
  background-color: #FFEDD8;
}

.menu .menu_box .menu_card .menu_image{
  width: 300px;
  height: 245px;
  margin: 0 auto;
  overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
  width: 100%;
  height: 100%;
  object-position: content;
  transition: 0 3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
 transform: scale(1.1);
}

.menu .menu_box .menu_card .menu_info h2{
  width: 60%;
  text-align: center;
  margin: 10px auto 10px auto;
  font-size: 25px;
  color: orange;
  font-family: sans-serif;
}

.menu .menu_box .menu_card .menu_info p{
  margin-top: 8px;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
  font-family: sans-serif;
}

.menu .menu_box .menu_card .menu_info h3{
  text-align: center;
  margin-top: 10px;
}

/* button menu */
.menu_card button{
padding: 5px 40px;
border-radius: 5px;
margin-top: 10px;
font-size: 20px;
margin-left: 105px;
background: orange;
}

.menu_card button a{
  font-size: 20px;
  color: rgb(14, 13, 13);
  text-decoration: none;
}

/* about us */

.about{
  width: 100%;
  height: 100px;
  padding: 70px 0;
  margin-top: 70px;
}

.about .about_main{
  align-items: center;
  justify-content: space-around;
  display: flex;
}
  
.about .about_main .img img{
  width: 480  px;
  position: relative;
  top: 60px;
  margin-top: -200px;
}

.about_teks{
  margin-top: -100px;
  margin-right:20px ;
}

.about .about_main .about_teks h1 span{
  color: orange;
  margin-right: 15px;
  font-family: Sans-Serif;
}

.about .about_main .about_teks h1{
  font-size: 55px;
  margin-bottom: 20px;
  position: top;
  font-family: sans-serif;
}


.about .about_main .about_teks h3{
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: normal;
  font-family: sans-serif;
}


.about .about_main .about_teks p{
  width: 650px;
  text-align: justify;
  margin-right: 30px;
  line-height: 22px;
  font-size: 22px;
  line-height: 1.5;
  font-family: sans-serif;
}


/* order */

.contact{
width: 100%;
height: 100px;
padding: 70px 0;
margin-top: -100px;
font-family: sans-serif;
margin-top: 0px;
}

.contact h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 55px;
}

.contact h1 span{
  color: orange;
  margin-right: 15px;
  font-family: sans-serif;
}

.contact h1 span::after{
  content: '';
  width: 100%;
  height: 2px;
  background: orange;
  display: block;
  position: relative;
  bottom: 10px;
}


.contact .contact_main{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact .contact_main img{
  width: 500px;
  margin-top: -50px;
  margin-left: -100%;
}






































/* background img */

.img-bg{
  position: absolute;
  margin-bottom: -500%;
}